/* background color */
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

/* Main container */
.header {
  background-color: rgb(36, 35, 35);
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  z-index: 1000;
  color: white;
  padding: 10px;
}

/* CSS for header button */
.header .right-buttons {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 20px;
  padding-left: 20px;
  position: sticky;
  right: 0px;
}

.app-container {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
}

footer,
.copyright-footer {
  opacity: 0.5;
  padding: 10px;
  text-align: center;
  color: whitesmoke
}

.main-div{
  color: rgb(178, 177, 177)
}

