/* background color */
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

/* Header container */
.header {
  background-color: rgb(36, 35, 35);
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  z-index: 1000;
  color: white;
  padding: 10px;
}

/* CSS for header button */
.header .right-buttons {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 20px;
  padding-left: 20px;
  padding-right: 30px;
  margin-right: 10px;
  right: 0px;
}

.app-container {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
  margin-top: 65px;
}

footer,
.copyright-footer {
  opacity: 0.5;
  padding: 10px;
  text-align: center;
  color: whitesmoke
}

.main-div{
  color: rgb(178, 177, 177)
}

.team-info-div-container{
  background-color: rgb(36, 35, 35);
  width: 20vw;
  height: 100vh;
  color: white;
  border-radius: 10px;
  margin: 20px 10px;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  
}

.schedule-div-container{
  background-color: rgb(36, 35, 35);
  width: 10vw;
  height: 20vh;
  color: white;
  border-radius: 10px;
  margin: 20px 10px;
  display: inline-block;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.team-info-group-container{
  border: solid rgb(90, 90, 90);
  border-radius: 10px;
  border-style: double;
  padding: 10px;
  margin: 10px;
  overflow:auto;
}

.team-info-division-list{
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: both;

}

