.field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #0c5623;
    padding: 10px 0;
    box-sizing: border-box;
    border-left: 2px solid white;
    border-right: 2px solid white;
}