.field-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Keeps top and bottom zones separated */
    color: white;
    background-color: rgb(24, 26, 24);
    border: thick;
    border-radius: 5px;
    height: 120vh; /* 80% of viewport height */
    width: 60vw;/* Example: make it responsive */
    margin: 0;
    padding: 0;
}

.top-endzone,
.bottom-endzone {
    display: flex;
    background-color: rgb(20, 22, 26);
    width: 100%;
    height: 8vw;
    justify-content: center;
    align-items: center;
    border: inherit;
    box-sizing: border-box; /* ensures borders are included in width */
}

.top-endzone {
    border: 2px solid white;
    width: 100%;
}

.bottom-endzone {
    border: 2px solid white;
    width: 100%;
}

.field-container-padding {
    background-color: #0c5623;
    border-left: 2px solid white;
    border-right: 2px solid white;
    height: 40px;

}

html, body {
    margin: 0;
    padding: 0;
}