.field-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Keeps top and bottom zones separated */
    color: white;
    background-color: rgb(24, 26, 24);
    border: solid white;
    border-width: 1px;
    border-radius: 5px;
    width: 50vw;
    height: calc(inherit); /* Example: make it responsive */
    margin: 0;
    padding: 0;
}

.top-endzone,
.bottom-endzone {
    display: flex;
    background-color: rgb(20, 22, 26);
    width: 100%;
    height: 8vw;
    justify-content: center;
    align-items: center;
    border-color: white;
    border: inherit;
    box-sizing: border-box; /* ensures borders are included in width */
}

.top-endzone {
    border-bottom-width: 2px;
        width: 100%;
}

.bottom-endzone {
    border-top-width: 2px;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}