.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
}

footer,
.copyright-footer {
  opacity: 0.5;
  padding: 10px;
  text-align: center;
  text-indent: 10px;
}
