.main-div{
    border: 50px;
}

.header .h1-header{
  display: flex;
  gap: 20px;
  position: absolute;
  left: 20px;
  padding-right: 15px;
  text-shadow: 5px 5px rgb(0, 0, 0);
}

.search-wrapper{
    display: flex;
    position: relative;
    width: 260px; /* adjust as needed */
    margin-right: 100px;
    align-content: center;
}

.search-icon{
    position: absolute;
    left: 20px;
    top: 6px;
    color: gray;
    pointer-events: none;
}

.search-input{
    border-radius: 50px;
    height: 30px;
    width: 300px;
    text-indent: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 35, 35);
    padding-left: 45px;
    margin-left: 10px;
}

