.yard-line{
    postition: relative;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    background-color: white;
}

.hash {
    position: relative;
    width: 5px;
    height: 10px;
    background-color: white;
    top: 1px;
}

.hash.left {
    margin-right: auto;
    left: 30%;
}

.hash.right {
    margin-left: auto;
    right: 30%;
}