.schedule-div-container {
  background-color: rgb(0, 0, 0);
  width: 10vw;
  height: 20vh;
  color: white;
  border-radius: 10px;
  margin: 20px 10px;
  display: inline-block;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 1px solid #808080;
}

.standing-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #444;
}

.conference-container {
  display: grid;
  border: 1px solid rgb(20, 20, 20);
  background: rgb(20, 20, 20);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
  width: 95%;
}

.table-wrapper {
  overflow-x: visible;
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 2fr repeat(17, 1fr);
  align-items: center;
  min-width: max-content;
  position: relative;
  z-index: 0;
}

.row-header {
  display: grid;
  grid-template-columns: 2fr repeat(17, 1fr);
  font-weight: bold;
  background: rgb(20, 20, 20);
  align-items: end;
  min-width: max-content;
  border-bottom: 1px solid rgb(154, 154, 154);
}

.division-container {
  border: 1px solid white;
  overflow-x: scroll;
  width: 95%;
  padding-top: 10px;
  margin: 10px;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
}

.legend-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(107, 107, 107);
  padding: 5px;
  width: 30px;
  height: 100%;
}

.row-header .legend-stat:first-child {
  position: sticky;
  left: 0px;
  z-index: 10;
  background-color: rgb(10, 10, 10);
  width: 54px;
  height: 100%;
  text-align: bottom;
}

.team-display {
  display: flex;
  position: sticky;
  left: 0;
  z-index: 10;
  text-align: center;
  background-color: rgb(10, 10, 10);
  align-items: center;
  justify-content: center;
  border-right: 1px solid #222;
  padding: 8px;
  width: max-content;
}

.standing-team-logo {
  width: clamp(24px, 4vw, 48px);
  height: auto;
}

.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  padding: 5px;
  width: 30px;
}

.conference-header {
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
}
