.main-div {
  border: 50px;
}

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.header .h1-header {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 20px;
  padding-right: 15px;
  text-shadow: 5px 5px rgb(0, 0, 0);
  font-family: "Anton", sans-serif;
}

.search-wrapper {
  display: flex;
  position: relative;
  width: 260px; /* adjust as needed */
  margin: auto;
  justify-content: center;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 20px;
  top: 6px;
  color: gray;
  pointer-events: none;
}

.search-input {
  border-radius: 50px;
  height: 30px;
  width: 300px;
  text-indent: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(36, 35, 35);
  padding-left: 45px;
  margin-left: 10px;
}

.info-button {
  display: flex;
  border: 1px solid rgb(15, 15, 15);
  background-color: rgb(15, 15, 15);
  border-radius: 50px;
  color: white;
  width: fit-content;
  height: fit-content;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(1.5);
  margin: 15px;
}

.info-button:hover {
  transform: scale(1.8);
  color: black;
  background-color: white;
  box-shadow: 2px 2px black;
}

.info-button:active {
  transform: scale(0.9);
}
